@{
    ViewBag.Title = "Login";
}

<h2>🌿Login🌿</h2>
<form method="post" action="/Account/Login">
    <input type="text" name="Username" class="form-control" placeholder="Enter Username" required />
    <input type="password" name="Password" class="form-control" placeholder="Enter Password" required />
    <button type="submit" class="btn" style="background-color: lightgreen; color:black;">Login</button>
</form>



