@{
    ViewBag.Title = "about";
}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: white;
        color: #333;
        margin: 20px;
    }

    h2 {
        color: green;
        border-bottom: 2px solid seagreen;
        padding-bottom: 5px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        margin-top: 15px;
    }

    .highlight {
        background-color: white;
        padding: 10px;
        border-left: 5px solid grey;
        border-radius: 5px;
        margin-top: 20px;
    }
</style>

<h2>About Us🌿</h2>
<p>We are dedicated to providing the best plants for your home and garden.</p>
<div class="highlight">
   
</div>

